@import url(styles/header.css);

:root{
    --cor-de-fundo: #ffee00;
    --branco:#FFFFFF;
    --preto: #000000;
}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: rgb(1, 165, 165);
}